<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @room.name %>
  <strong>Teacher:</strong>
  <%= @room.teacher.name %>
</p>

<div id='room-container'>
  <div id='chat-pannel'>
    <%= render partial: 'messages/message', collection: @room.messages %>
  </div>
  <div id='new-msg-panel'>
    <%= render partial: 'messages/form', locals: {message: @message, room: @room}%>
  </div>
</div>


<%= link_to 'Back', rooms_path %>
